In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from tensorflow.keras.models import load_model

import pickle

In [9]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
#Preprocessing
#drop irrelevant cols
data=data.drop(["RowNumber","CustomerId","Surname"],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [12]:
## Encode cat variables
label_encoder_gender=LabelEncoder()
data["Gender"]=label_encoder_gender.fit_transform(data["Gender"])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [15]:
onehot_encoding_geo=OneHotEncoder()
geo_encoder=onehot_encoding_geo.fit_transform(data[['Geography']])

In [18]:
geo_encoder=geo_encoder.toarray()

In [19]:
geo_df=pd.DataFrame(geo_encoder,columns=onehot_encoding_geo.get_feature_names_out())

In [21]:
data=pd.concat([data.drop("Geography",axis=1),geo_df],axis=1)

In [22]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [23]:
with open('Label_encoder1.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('one_hot_encoding_geo1.pkl','wb') as file:
    pickle.dump(onehot_encoding_geo,file)

In [24]:
#dive data into independent and dependent features
X=data.drop('EstimatedSalary',axis=1)
y=data["EstimatedSalary"]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [25]:
with open("scaler1.pkl",'wb') as file:
    pickle.dump(scaler,file)

In [26]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [29]:
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),#1st hidden layer
    Dense(32,activation='relu'),
    Dense(1)

])

In [30]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [31]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [33]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

In [34]:
log_dir='regression/fit'+ datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [35]:
earlystop_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [36]:
hist=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,earlystop_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 640us/step - loss: 101437.5938 - mae: 101437.5938 - val_loss: 98464.2578 - val_mae: 98464.2578
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - loss: 100525.2656 - mae: 100525.2656 - val_loss: 96695.7109 - val_mae: 96695.7109
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 374us/step - loss: 97496.7891 - mae: 97496.7891 - val_loss: 92257.0547 - val_mae: 92257.0547
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 396us/step - loss: 91596.8750 - mae: 91596.8750 - val_loss: 85015.8203 - val_mae: 85015.8203
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - loss: 84417.1484 - mae: 84417.1484 - val_loss: 75883.2188 - val_mae: 75883.2188
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - loss: 74675.5469 - mae: 74675.5469 - val_loss: 66766.7422 - val_mae: 66766.7422
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 373us/step - loss: 66340.9609 - mae: 66340.9609 - val_loss: 59290.7109 - val_mae: 59290.7109
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 368us/step - loss: 58501.8008 - mae: 58501.8008 - val_loss: 54452.1836 - val_mae: 54452.1836
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 365us/step - loss: 54223.5664 - mae: 54223.5664 - val_loss: 51967.6211 - val_mae: 51967.6211
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - loss: 52003.6719 - mae: 52003.6719 - val_loss: 51081.5625 - val_mae: 51081.5625
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - loss: 51082.8711 - mae: 51082.8711 - val_loss: 50795.6914 - val_mae: 50795.6914
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 378us/step - loss: 50394.4688 - mae: 50394.4688 - val_loss: 50673.8086 - val_mae: 50673.8086
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - loss: 50205.1641 - mae: 50205.1641 - val_loss: 50607.7852 - val_mae: 50607.7852
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - loss: 49794.5273 - mae: 49794.5273 - val_loss: 50559.2148 - val_mae: 50559.2148
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - loss: 50589.6914 - mae: 50589.6914 - val_loss: 50518.3867 - val_mae: 50518.3867
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - loss: 50026.4727 - mae: 50026.4727 - val_loss: 50494.4023 - val_mae: 50494.4023
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - loss: 50291.3008 - mae: 50291.3008 - val_loss: 50461.5547 - val_mae: 50461.5547
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - loss: 49895.1172 - mae: 49895.1172 - val_loss: 50443.3750 - val_mae: 50443.3750
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - loss: 49582.0195 - mae: 49582.0195 - val_loss: 50431.7773 - val_mae: 50431.7773
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 416us/step - loss: 50091.6016 - mae: 50091.6016 - val_loss: 50408.4961 - val_mae: 50408.4961
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 366us/step - loss: 49502.9180 - mae: 49502.9180 - val_loss: 50392.7891 - val_mae: 50392.7891
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - loss: 49624.7773 - mae: 49624.7773 - val_loss: 50387.9648 - val_mae: 50387.9648
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - loss: 49310.7383 - mae: 49310.7383 - val_loss: 50380.8359 - val_mae: 50380.8359
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 391us/step - loss: 49559.8477 - mae: 49559.8477 - val_loss: 50359.6875 - val_mae: 50359.6875
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - loss: 50321.2734 - mae: 50321.2734 - val_loss: 50349.8398 - val_mae: 50349.8398
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 366us/step - loss: 50407.0273 - mae: 50407.0273 - val_loss: 50352.1133 - val_mae: 50352.1133
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 365us/step - loss: 50015.3242 - mae: 50015.3242 - val_loss: 50330.7305 - val_mae: 50330.7305
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - loss: 50098.0938 - mae: 50098.0938 - val_loss: 50326.7812 - val_mae: 50326.7812
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - loss: 50120.0039 - mae: 50120.0039 - val_loss: 50327.8672 - val_mae: 50327.8672
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 354us/step - loss: 49806.8008 - mae: 49806.8008 - val_loss: 50318.3984 - val_mae: 50318.3984
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 355us/step - loss: 49125.5742 - mae: 49125.5742 - val_loss: 50321.0117 - val_mae: 50321.0117
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - loss: 49994.9688 - mae: 49994.9688 - val_loss: 50319.9648 - val_mae: 50319.9648
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 355us/step - loss: 49878.0469 - mae: 49878.0469 - val_loss: 50307.8945 - val_mae: 50307.8945
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - loss: 49305.7617 - mae: 49305.7617 - val_loss: 50319.4883 - val_mae: 50319.4883
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - loss: 49976.1133 - mae: 49976.1133 - val_loss: 50309.1875 - val_mae: 50309.1875
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - loss: 48839.7539 - mae: 48839.7539 - val_loss: 50298.2383 - val_mae: 50298.2383
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - loss: 49410.8633 - mae: 49410.8633 - val_loss: 50288.8555 - val_mae: 50288.8555
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - loss: 48937.9297 - mae: 48937.9297 - val_loss: 50295.1250 - val_mae: 50295.1250
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 356us/step - loss: 49234.8828 - mae: 49234.8828 - val_loss: 50291.8398 - val_mae: 50291.8398
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - loss: 49556.4414 - mae: 49556.4414 - val_loss: 50287.7930 - val_mae: 50287.7930
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 384us/step - loss: 49474.1914 - mae: 49474.1914 - val_loss: 50274.7969 - val_mae: 50274.7969
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - loss: 49255.1133 - mae: 49255.1133 - val_loss: 50283.4414 - val_mae: 50283.4414
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - loss: 49099.2070 - mae: 49099.2070 - val_loss: 50281.1055 - val_mae: 50281.1055
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - loss: 49935.7031 - mae: 49935.7031 - val_loss: 50280.8398 - val_mae: 50280.8398
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - loss: 49419.7617 - mae: 49419.7617 - val_loss: 50277.6953 - val_mae: 50277.6953
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - loss: 49733.0430 - mae: 49733.0430 - val_loss: 50278.7109 - val_mae: 50278.7109
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - loss: 49288.0938 - mae: 49288.0938 - val_loss: 50271.3594 - val_mae: 50271.3594
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - loss: 49672.1133 - mae: 49672.1133 - val_loss: 50272.3477 - val_mae: 50272.3477
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - loss: 49561.4023 - mae: 49561.4023 - val_loss: 50275.4336 - val_mae: 50275.4336
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - loss: 50029.1094 - mae: 50029.1094 - val_loss: 50281.0039 - val_mae: 50281.0039
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 417us/step - loss: 49032.6992 - mae: 49032.6992 - val_loss: 50282.0078 - val_mae: 50282.0078
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - loss: 49858.0312 - mae: 49858.0312 - val_loss: 50282.4805 - val_mae: 50282.4805
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - loss: 49286.9414 - mae: 49286.9414 - val_loss: 50288.8711 - val_mae: 50288.8711
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - loss: 49256.0117 - mae: 49256.0117 - val_loss: 50297.2695 - val_mae: 50297.2695
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - loss: 49166.2852 - mae: 49166.2852 - val_loss: 50293.9414 - val_mae: 50293.9414
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 365us/step - loss: 49270.5078 - mae: 49270.5078 - val_loss: 50289.0312 - val_mae: 50289.0312
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 393us/step - loss: 49633.4570 - mae: 49633.4570 - val_loss: 50290.6016 - val_mae: 50290.6016

In [37]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [38]:
#Load tensorflow extension
%load_ext tensorboard

In [39]:
%tensorboard --logdir regression/fit20240911-162928/

In [40]:
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE:{test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 165us/step - loss: 51144.0000 - mae: 51144.0000
Test MAE:50271.359375